
@{
    ViewBag.Title = "TRANG QUẢN TRỊ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <br />
    <br />
    <br />
    <br />
    <center>

        <img src="~/images/logo.png" /><img src="~/images/LOGO2.png" /><br />
        <img src="~/images/logoweb.png" />
    </center>
</p>